
$custom-primary: #375a7f;
$custom-accent: #444;
$custom-warn: #E74C3C;

$text-dark: $custom-accent;
$text-light: red;


$mat-custom-primary: (
  50: lighten($custom-primary, 70%),
  100: lighten($custom-primary, 60%),
  200: lighten($custom-primary, 50%),
  300: lighten($custom-primary, 40%),
  400: lighten($custom-primary, 30%),
  500: lighten($custom-primary, 20%),
  600: lighten($custom-primary, 10%),
  700: $custom-primary,
  800: darken($custom-primary, 30%),
  900: darken($custom-primary, 60%),
  A100: #94b1d1,
  A200: #7098c2,
  A400: #3d5afe,
  A700: #304ffe,
  contrast: (
    50: $text-dark,
    100: $text-dark,
    200: $text-dark,
    300: $text-light,
    400: $text-light,
    500: $text-light,
    600: $text-light,
    700: $text-light,
    800: $text-light,
    900: $text-light,
    A100: $text-dark,
    A200: $text-light,
    A400: $text-light,
    A700: $text-light,
  )
);

$mat-custom-accent: (
  50: lighten($custom-accent, 70%),
  100: lighten($custom-accent, 60%),
  200: lighten($custom-accent, 50%),
  300: lighten($custom-accent, 40%),
  400: lighten($custom-accent, 30%),
  500: lighten($custom-accent, 20%),
  600: lighten($custom-accent, 10%),
  700: $custom-accent,
  800: darken($custom-accent, 30%),
  900: darken($custom-accent, 60%),
  A100: #cfd8dc,
  A200: #b0bec5,
  A400: #78909c,
  A700: #455a64,
  contrast: (
    50: $text-dark,
    100: $text-dark,
    200: $text-dark,
    300: $text-light,
    400: $text-light,
    500: $text-light,
    600: $text-light,
    700: $text-light,
    800: $text-light,
    900: $text-light,
    A100: $text-dark,
    A200: $text-light,
    A400: $text-light,
    A700: $text-light,
  )
);

$mat-custom-warn: (
  50: lighten($custom-warn, 70%),
  100: lighten($custom-warn, 60%),
  200: lighten($custom-warn, 50%),
  300: lighten($custom-warn, 40%),
  400: lighten($custom-warn, 30%),
  500: lighten($custom-warn, 20%),
  600: lighten($custom-warn, 10%),
  700: $custom-warn,
  800: darken($custom-warn, 30%),
  900: darken($custom-warn, 60%),
  A100: #ff9e80,
  A200: #ff6e40,
  A400: #ff3d00,
  A700: #dd2c00,
  contrast: (
    50: $text-dark,
    100: $text-dark,
    200: $text-dark,
    300: $text-light,
    400: $text-light,
    500: $text-light,
    600: $text-light,
    700: $text-light,
    800: $text-light,
    900: $text-light,
    A100: $text-dark,
    A200: $text-light,
    A400: $text-light,
    A700: $text-light,
  )
);

