.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.padding-0 {
  padding: 0;
}

.padding-5 {
  padding: 5px;
}

.padding-10 {
  padding: 10px;
}

.padding-15 {
  padding: 15px;
}

.padding-20 {
  padding: 20px;
}

.padding-left-5 {
  padding-left: 5px;
}

.padding-left-0 {
  padding-left: 0;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-left-15 {
  padding-left: 15px;
}

.padding-left-20 {
  padding-left: 20px;
}

.padding-right-5 {
  padding-right: 5px;
}

.padding-right-0 {
  padding-right: 0;
}

.padding-right-10 {
  padding-right: 10px;
}

.padding-right-15 {
  padding-right: 15px;
}

.padding-right-20 {
  padding-right: 20px;
}

.padding-top-5 {
  padding-top: 5px;
}

.padding-top-0 {
  padding-top: 0;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-top-15 {
  padding-top: 15px;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-bottom-0 {
  padding-bottom: 0;
}

.padding-bottom-5 {
  padding-bottom: 5px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-bottom-15 {
  padding-bottom: 15px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.padding-horizontal-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.padding-horizontal-4 {
  padding-left: 4px;
  padding-right: 4px;
}

.padding-horizontal-0 {
  padding-left: 0;
  padding-right: 0;
}

.padding-horizontal-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.padding-horizontal-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.padding-horizontal-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.padding-vertical-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.padding-vertical-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.padding-vertical-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding-vertical-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.padding-vertical-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.margin-auto {
  margin: auto
}

.margin-0 {
  margin: 0
}

.margin-5 {
  margin: 5px;
}

.margin-10 {
  margin: 10px;
}

.margin-15 {
  margin: 15px;
}

.margin-20 {
  margin: 20px;
}

.margin-left-0 {
  margin-left: 0
}

.margin-left-5 {
  margin-left: 5px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-left-15 {
  margin-left: 15px;
}

.margin-left-20 {
  margin-left: 20px;
}

.margin-right-0 {
  margin-right: 0
}

.margin-right-5 {
  margin-right: 5px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-right-15 {
  margin-right: 15px;
}

.margin-right-20 {
  margin-right: 20px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-top-0 {
  margin-top: 0
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-horizontal-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.margin-horizontal-2 {
  margin-left: 2px;
  margin-right: 2px;
}

.margin-horizontal-0 {
  margin-left: 0;
  margin-right: 0;
}

.margin-horizontal-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.margin-horizontal-15 {
  margin-left: 15px;
  margin-right: 15px;
}

.margin-horizontal-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.margin-vertical-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.margin-vertical-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.margin-vertical-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.margin-vertical-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.margin-vertical-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.break-word{
  word-wrap: break-word;
}

.font-09{
  font-size: 0.9em;
}

.font-08{
  font-size: 0.8em;
}

.font-07{
  font-size: 0.7em;
}

.font-06{
  font-size: 0.6em;
}

.width-5-percent{
  width: 5%;
}

.width-10-percent{
  width: 10%;
}

.width-20-percent{
  width: 20%;
}

.width-25-percent{
  width: 25%;
}

.width-30-percent{
  width: 30%;
}

.width-40-percent{
  width: 40%;
}

.width-50-percent{
  width: 50%;
}

.width-60-percent{
  width: 60%;
}

.width-70-percent{
  width: 70%;
}

.width-75-percent{
  width: 75%;
}

.width-80-percent{
  width: 80%;
}

.width-90-percent{
  width: 90%;
}

.text-white{
  color: white;
}

.cursor-pointer{
  cursor: pointer;
}

.cursor-default{
  cursor: default;
}

.small-input{
  height: 30px;
}

.no-border{
  border: none;
}

.text-description{
  color: #7f7f7f;
}

.newlines{
  white-space: pre-wrap;
}

.hoverable:hover{
  background-color: #595959 !important;
  cursor: pointer;
}


