<div class="container single-container">
  <div class="row full-height justify-content-center align-items-center">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-4 card padding-0">
      <div class="card-header text-center">
        <h4>
          {{ 'Login' | translate }}
        </h4>
      </div>
      <div class="card-body">
        <div class="col">
          <div class="row" *ngIf="error">
            <div class="col">
              <div class="alert alert-danger text-center">
                {{'Username or password are wrong.' | translate}}
              </div>
            </div>
          </div>
          <form [formGroup]="loginFormGroup" (ngSubmit)="login()" class="form-group padding-horizontal-20 full-width">
            <div class="row margin-bottom-10">
              <div class="input-group">
                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <em class="fas fa-user"></em>
                                    </span>
                </div>
                <input type="text"
                       name="username"
                       id="username"
                       class="form-control full-width"
                       formControlName="username"
                       placeholder="{{'Username' | translate}}">
              </div>
            </div>
            <div class="row margin-bottom-10">
              <div class="input-group">
                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <em class="fas fa-lock"></em>
                                    </span>
                </div>
                <input type="password"
                       name="password"
                       id="password"
                       class="form-control full-width"
                       formControlName="password"
                       placeholder="{{'Password' | translate}}">
              </div>
            </div>
            <div class="row margin-bottom-5">
              <input type="submit" [disabled]="!loginFormGroup.valid" value="{{'Login' | translate}}" id="login-btn"
                     class="btn btn-primary full-width">
            </div>
          </form>
          <div class="row justify-content-center">
            <div class="col-auto">
              <button class="btn btn-secondary" (click)="navigateToRegistration()">{{'Register' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
