<nav class="navbar navbar-light bg-light padding-10">
  <a class="navbar-brand" routerLink="/start">
    <img class="logo" src="../../../assets/logo_tmp.png">
  </a>
  <ng-template #logoutButton>
    <button class="btn btn-secondary" (click)="logout()">
      <em class="fas fa-sign-out-alt"></em>
    </button>
  </ng-template>
  <button class="btn btn-secondary" routerLink="/login" *ngIf="!(authentication | async); else logoutButton">
    <em class="fas fa-user padding-horizontal-5"></em> {{'Login' | translate}}
  </button>
</nav>
