<div class="container single-container" *ngIf="needUsername">
  <div class="row full-height justify-content-center align-items-center">
    <div class="col">
      <div class="row margin-bottom-10 justify-content-center" *ngIf="error">
        <div class="col-auto">
          <span class="alert alert-danger">
            {{error | translate}}
          </span>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-4 card padding-0">
          <div class="card-header text-center">
            <h4>
              {{ 'Name yourself' | translate }}
            </h4>
          </div>
          <div class="card-body">
            <div class="col">
              <div class="row margin-bottom-10">
                <div class="col">
                  <input
                    class="full-width form-control"
                    [placeholder]="'Your name' | translate"
                    [(ngModel)]="username">
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-auto">
                  <button class="btn btn-primary" [disabled]="!username" (click)="join(username)">{{'Join lobby' | translate}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
