<div class="container single-container">
  <div class="row justify-content-center align-items-center full-height">
    <div class="col-xs-12 col-sm-12 col-md-10">
      <div class="row">
        <div class="col jumbotron" *ngIf="session">
          <div class="row margin-bottom-15 justify-content-between align-items-center">
            <div class="col-auto">
              <h3>{{session.name}} - {{'Are you ready?' | translate}}</h3>
            </div>
          </div>
          <div class="row margin-bottom-30 align-items-center justify-content-end">
            <div class="col-auto">
              <button class="btn btn-danger" (click)="leaveLobby()">{{'Leave lobby'}}</button>
            </div>
          </div>
          <div class="row margin-bottom-10 justify-content-between align-items-center">
            <div class="col">
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let player of slots; let i = index" [attr.data-index]="i">
                  <div class="col" [ngClass]="{'player': player.name, 'empty-slot': !player.name}">
                    <strong *ngIf="player.name">{{player.name}}</strong>
                    <span class="text-description" *ngIf="!player.name">{{'empty' | translate}}</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
