<div class="container single-container">
  <div class="row full-height justify-content-center align-items-center">
    <div class="col">
      <div class="row justify-content-center margin-bottom-30" *ngIf="error">
        <div class="col-auto">
          <span class="alert alert-danger">{{error | translate}}</span>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-4 card padding-0">
          <div class="card-header text-center">
            <h4 *ngIf="loggedIn">
              {{ 'Create or join' | translate }}
            </h4>
            <h4 *ngIf="!loggedIn">
              {{ 'Join game' | translate }}
            </h4>
          </div>
          <div class="card-body">
            <div class="col">
              <ng-container *ngIf="loggedIn">
                <div class="row justify-content-center margin-bottom-15">
                  <div class="col-auto">
                    <button class="btn btn-primary" routerLink="/create">{{'Create game' | translate}}</button>
                  </div>
                </div>
                <div class="row justify-content-center margin-bottom-15">
                  <div class="col-auto">
                    {{'or' | translate}}
                  </div>
                </div>
              </ng-container>
              <div class="row justify-content-center">
                <div class="col-auto">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Game ID" aria-label="The game Id" #gameId>
                    <div class="input-group-append" (click)="join(gameId.value)">
                      <span class="input-group-text hoverable">{{'join' | translate}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
