<div class="container single-container">
  <div class="row full-height justify-content-center align-items-center">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-6 card padding-0">
      <div class="card-header text-center">
        <h4>
          {{ 'Register' | translate }}
        </h4>
      </div>
      <div class="card-body">
        <form [formGroup]="registrationFormGroup" (ngSubmit)="register()"
              class="form-group padding-horizontal-20 full-width">
          <div class="row margin-bottom-10">
            <div class="input-group">
              <div class="input-group-prepend col-4 padding-0">
                <span class="input-group-text full-width">
                    {{'Username' | translate}}
                </span>
              </div>
              <input type="text"
                     name="username"
                     id="username"
                     class="form-control full-width"
                     formControlName="username"
                     placeholder="{{'Username' | translate}}">
            </div>
          </div>
          <div class="row margin-bottom-10">
            <div class="input-group">
              <div class="input-group-prepend col-4 padding-0">
                <span class="input-group-text full-width">
                    {{'Password' | translate}}
                </span>
              </div>
              <input type="password"
                     name="password"
                     id="password"
                     class="form-control full-width"
                     formControlName="password"
                     placeholder="{{'Password' | translate}}">
            </div>
          </div>
          <div class="row margin-bottom-10">
            <div class="input-group">
              <div class="input-group-prepend col-4 padding-0">
                <span class="input-group-text full-width">
                      {{'Repeat password' | translate}}
                </span>
              </div>
              <input type="password"
                     name="passwordRepeat"
                     id="passwordRepeat"
                     class="form-control full-width"
                     formControlName="passwordRepeat"
                     placeholder="{{'Repeat password' | translate}}">
            </div>
          </div>
          <div class="row margin-bottom-10">
            <div class="input-group">
              <div class="input-group-prepend col-4 padding-0">
                <span class="input-group-text full-width">
                      {{'Email' | translate}}
                </span>
              </div>
              <input type="email"
                     name="email"
                     id="email"
                     class="form-control full-width"
                     formControlName="email"
                     placeholder="{{'Email' | translate}}">
            </div>
          </div>
          <div class="row margin-bottom-5">
            <input type="submit" value="{{'Register' | translate}}" [disabled]="!registrationFormGroup.valid" id="register-btn"
                   class="btn btn-primary full-width">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
