<div class="container single-container">
  <div class="row justify-content-center align-items-center full-height">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
      <div class="row">
        <div class="col jumbotron">
          <div class="row margin-bottom-30 justify-content-between align-items-center">
            <div class="col-auto" *ngIf="numPlayers">
              <h3>{{'Create a new game' | translate}}</h3>
            </div>
            <div class="col-auto" *ngIf="numPlayers">
              <h4>{{numPlayers.value}} {{'players' | translate}}</h4>
            </div>
          </div>
          <form [formGroup]="creationFormGroup" (ngSubmit)="create()">
            <div class="row margin-bottom-10">
              <div class="col-6">
                {{'Game name' | translate}}
              </div>
              <div class="col-6">
                <input id="name"
                       name="name"
                       [placeholder]="'Game name' | translate"
                       class="form-control full-width"
                       formControlName="name">
              </div>
            </div>
            <div class="row margin-bottom-10 align-items-center">
              <div class="col-6">
                {{'Maximum number of players' | translate}}
              </div>
              <div class="col-6">
                <div class="row justify-content-center margin-auto">
                  <div class="col slider">
                    <div class="row align-items-center">
                      <div class="col">
                        <mat-slider
                          #numPlayers
                          class="full-width"
                          color="primary"
                          [max]="8"
                          [min]="3"
                          [value]="4"
                          formControlName="numberOfPlayers"
                          id="numberOfPlayers"></mat-slider>
                      </div>
                      <div class="col-1 text-dark padding-0" *ngIf="numPlayers">
                        {{numPlayers.value}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row margin-bottom-10 align-items-center">
              <div class="col-6">
                {{'Number of rounds' | translate}}
              </div>
              <div class="col-6">
                <div class="row justify-content-center margin-auto">
                  <div class="col slider">
                    <div class="row align-items-center">
                      <div class="col">
                        <mat-slider
                          #numberOfRounds
                          class="full-width"
                          color="primary"
                          [max]="15"
                          [min]="3"
                          [value]="4"
                          formControlName="numberOfRounds"
                          id="numberOfRounds"></mat-slider>
                      </div>
                      <div class="col-1 text-dark padding-0" *ngIf="numberOfRounds">
                        {{numberOfRounds.value}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row margin-bottom-30">
              <div class="col-6">
                {{'Term Language' | translate}}
              </div>
              <div class="col-6">
                <select
                  id="language"
                  name="language"
                  class="form-control full-width"
                  formControlName="language"
                >
                  <option value="" disabled selected>{{'Language' | translate}}</option>
                  <option *ngFor="let language of languages" [ngValue]="language">
                    {{language.name | translate}}
                  </option>
                </select>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-auto">
                <button class="btn btn-primary" [disabled]="!creationFormGroup.valid">
                  {{'Create' | translate}}
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
