
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

@import "src/app/styles/material-colors";

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$guess-it-primary: mat-palette($mat-custom-primary);
$guess-it-accent: mat-palette($mat-custom-accent, A200, A100, A400);

// The warn palette is optional (defaults to red).
$guess-it-warn: mat-palette($mat-custom-warn);

// Create the theme object (a Sass map containing all of the palettes).
$guess-it-theme: mat-light-theme($guess-it-primary, $guess-it-accent, $guess-it-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($guess-it-theme);

/* You can add global styles to this file, and also import other style files */

@import "src/app/styles/bootstrap";
@import "src/app/styles/shared";

router-outlet ~ * {
  position: absolute;
  height: calc(100vh - 58.38px);
  width: 100%;
}

.single-container{
  height: calc(80vh);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
